<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<script src="mustache.min.js"></script>
		<script src="cookiestores.js"></script>
		<script src="rules.js"></script>

		<script id="cookie-list-template" type="x-tmpl-mustache">
{{#results}}
<details>
    <summary>
        <input type="checkbox" store="{{identity.cookieStoreId}}" />
        <div class="square" style="background-color: {{identity.color}}" /></div>
{{identity.name}} (storeId: <tt>{{identity.cookieStoreId}}</tt>): {{cookies.length}} site(s)
    </summary>
    <ul>
    {{#cookies}}
        <li>
            <label>
                <input type="checkbox" store="{{identity.cookieStoreId}}" domain="{{domain}}" />
                {{domain}}
            </label>
            <pre>
            {{#cookies}}
{{name}} {{#firstPartyDomain}}({{firstPartyDomain}}) {{/firstPartyDomain}}= {{value}}
            {{/cookies}}
            </pre>
        </li>
    {{/cookies}}
    </ul>
</details>
{{/results}}
		</script>

		<h1>Containers and their cookies</h1>
		<form id="cookie-delete">
			<div id="cookie-list-target"></div>
			<button id="erase-button">&#x2702;&#xFE0F; Erase checked</button>
		</form>

		<h1>Cookie rules</h1>
		<form id="rules">
                    <details class="help">
                        <summary>&#x2139;&#xFE0F; Show help</summary>
                        <p>Examples:
                        <pre>
# lines starting with "#" are ignored and empty lines too

# the general syntax is: "&lt;storeId&gt;: &lt;rule&gt;"

# the following line contains one rule for the default container (storeId: "firefox-default")
# it tells to reject ("-") cookies from "example.com"
firefox-default: -example.com

# it's possible to put several site rules on the same line, separated by ","
# this will affect container "firefox-container-1"
firefox-container-1: -example.net, -example.com

# or do it with several lines, this is equivalent to the previous line (but another container)
firefox-container-2: -example.net
firefox-container-2: -example.com

# this accepts cookies for "example.net" and rejects all other cookies ("*")
firefox-container-3: +example.net
firefox-container-3: -*
                        </pre>
                        </p>
                    </details>

			<textarea cols="80" rows="24" id="rules-editor"></textarea>
			<br/>
			<button id="rules-button">Set rules</button>
		</form>
	</body>
</html>
