<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<script src="mustache.min.js"></script>
		<script src="cookiestores.js"></script>
        <script id="template" type="x-tmpl-mustache">
{{#results}}
<details>
    <summary style="color: {{identity.color}}">
        <input type="checkbox" store="{{identity.cookieStoreId}}" />
        {{identity.name}}
    </summary>
    <ul>
    {{#cookies}}
        <li>
            <label>
                <input type="checkbox" store="{{identity.cookieStoreId}}" domain="{{domain}}" />
                {{domain}}
            </label>
            <pre>
            {{#cookies}}
{{name}} {{#firstPartyDomain}}({{firstPartyDomain}}) {{/firstPartyDomain}}= {{value}}
            {{/cookies}}
            </pre>
        </li>
    {{/cookies}}
    </ul>
</details>
{{/results}}
        </script>
        <div id="target"></div>

        <button id="erase-button">&#x2702; Erase checked</button>
	</body>
</html>
