html, body
{
	//width: 500px;
}

textarea
{
	//width: 96%;
	//background: url(bg.png) center no-repeat;
	//background-size: 150px;
}

.square {
	width: 1em;
	height: 1em;
	display: inline-block;
}

details summary {
	cursor: pointer;
}

details.help {
    border: .1em solid black;
    margin-left: 1em;
    padding: .5em;
}
